/* Все mobile стили. Вход ниже 768px */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.sub-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.text {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.button {
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    z-index: 3;
    outline: none;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #ff7800;
    transition: 0.1s;
}

.button:hover {
    color: #ff7800;
    background-color: #fff;
    border: 1px solid #ff7800;
}

.button:active {
   transform: translateY(3px);
}

.button-small {
    font-size: 18px;
    min-height: 50px;
}

.button-large {
    font-size: 26px;
    min-height: 70px;
}

.input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff7800;
    color: #0053b9;
}

.input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.1s ease; color: #0053b9;}
.input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.1s ease;}

.d-title {
    position: relative;
}

.d-title:hover::after {
    position: absolute;
    padding: 5px;
    font-size: 12px;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    content: attr(data-title);
    right: 5px;
    top: 5px;
    min-height: 10px;
    z-index: 15;
}


/* @media  запросы. От 768px и выше. (Планшет) */
@media (min-width: 768px) {
    .wrapper {
        padding: 35px;
    }

    .title {
        font-size: 48px;
    }

    .sub-title {
        font-size: 34px;
    }

    .text {
        font-size: 24px;
    }

    .button-large {
        min-height: 70px;
    }
}