/* Все mobile стили. Вход ниже 768px */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.sub-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.text {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.button {
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    background-color: transparent;
    transition: 0.2s;
}

.button:active {
   transform: translateY(3px);
}

.button-small {
    font-size: 18px;
    min-height: 50px;
}

.button-large {
    font-size: 26px;
    min-height: 70px;
}

/* @media  запросы. От 768px и выше. (Планшет) */
@media (min-width: 768px) {
    .wrapper {
        padding: 35px;
    }

    .title {
        font-size: 48px;
    }

    .sub-title {
        font-size: 34px;
    }

    .text {
        font-size: 24px;
    }

    .button-large {
        min-height: 100px;
    }
}